@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: url(headers.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

.buffer {
  height: 2rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
